# Exclude Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Exclude all contents of the .terraform directory
.terraform/

# Exclude the Terraform lock file
.terraform.lock.hcl

# Exclude the Ansible files
initialAdminPassword
inventory.ini